<navbar></navbar>
<div class="home h-[650px] pt-10">
    <img class="w-full h-full object-cover object-top" src="../../../assets/home-banner-2.jpg" alt="">
</div>
<div class="product-list px-8 pt-5">
    <h2 class="text-center text-4xl mb-2 font-bold text-[#91B40D]">Məhsullar</h2>
    <div class="shortcut flex justify-center mb-5">
        <img src="../../../assets/shortcut.svg" alt="">
    </div>
    <product-list [products]="products"></product-list>
</div>
    <div class="who pt-100">
    <div class="about">
        <div class="about-wrapper">
            <div class="about-img ">
                <img class="big-about-img" src="../../../assets/who.png" alt="">
            </div>
            <div class="about-item ">
                <div class="about-info container-fluid">
                    <div class="about-title text-center flex flex-col items-center">Biz kimik? <br> <img class="about-shortcut" src="../../../assets/shortcut.svg" alt=""></div>
                    <div class="about-text text-center">
                        Əslində hər şey illər əvvəl İsmayıllı rayonunda  ailəvi gəzintidə olduğumuz zaman baş verdi. İsmayıllı rayonunun füsunkar təbiətinin gözəlliyi bizim bir gün burda kənd təsərufatı ilə məşqul olmaq arzusunu oyatdı. Daha sonra dostlarımızla bu məsələni müzakirə edərək İsmayıllıda təsəruffat qurmağa qərar verdik.
                        Böyük uğurlar vaxtında və yerində verilən qərarlarla çox bağlıdır. <br>
                        Elə bizdə ilk səfərdə qərar verdik və başladıq.İllər çox serətli keçdi.Bizdə böyümədə zamanın sürətindən geri qalmadıq.Qısa zaman müddətində əldə etdiyimiz uğurlar və daha sürətlə böyüməyə davam etməyimiz işimizə olan sevginin göstəricisidir. <br>
                        Alma,armud,nektarin,gavalı,gilas və qoz yetişdirməklə qalmadıq,tingçilik və toxumçuluqla məhsul sıramızı genişləndirdik. <br>
                        qısa zamanda ən son texnoloji yeniliklərlə damla suvarma sistemlərinin qurulması BAĞLARIN layihələndirilməsi,salınması kimi çətin işlərin ödəsindən uğurla gəldik. <br>
                        2022 ci ildə əsas  hədəfimiz brendimizin "made in AZERBAİJAN" adına layiq ölkə kənarında rəflərdə görünməsidir. <br>
                        növbəti hədəfləri sizlərlə paylaşmaq arzusuyla. <br><br>

                        hörmətlə
                        <br>
                        MELADORA kollektivi
                        <br>
                        <div class="flex justify-center mb-3"><img class="about-shortcut" src="../../../assets/shortcut.svg" alt=""></div>
                    </div>
                </div>
                <div class="flex flex-wrap justify-evenly mt-9 items-center">
                    <div class="about-logo-item">
                        <img src="../../../assets/organik.svg" alt="">
                        <div class="about-logo-item-title">Organik</div>
                    </div>
                    <div class="about-logo-item">
                        <img src="../../../assets/memnuniyyet.svg" alt="">
                        <div class="about-logo-item-title">Məmnuniyyət</div>
                    </div>
                    <div class="about-logo-item">
                        <img src="../../../assets/keyfiyyet.svg" alt="">
                        <div class="about-logo-item-title">Yüksək keyfiyyət</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer container-fluid pb-10">
        <div class="footer-item">
            <div class="footer-logo">
                <img src="../../../assets/footer-logo.svg" alt="">
            </div>
        </div>
        <div class="footer-item">
            <div class="footer-item-title">Menyular</div>
            <ul>
                <li>Biz kimik?</li>
                <li>Bağlarımız</li>
                <li>Məhsullarımız</li>
                <li>Xidmətlərimiz</li>
                <li>Sosial məsuliyyət</li>
                <li>Əlaqə</li>
            </ul>
        </div>
        <div class="footer-item">
            <div class="footer-item-title">Faydalı linklər</div>
            <ul>
                <li>Tez-tez soruşulanlar</li>
                <li>Karyera</li>
                <li>Xidmət şəbəkəsi</li>
            </ul>
        </div>
        <div class="footer-item">
            <div class="footer-item-title">FAQ</div>
            <ul>
                <li>Təhlükəsizlik</li>
                <li>Şərtlər və qaydalar</li>
            </ul>
        </div>
    </div>
</footer>