<div
  *ngIf="products.length == 0"
  class="preloader flex items-center justify-center h-[100vh] flex-col"
>
  <div
    class="preloader-content relative flex items-center justify-center w-[260px] h-[260px]"
  >
    <img width="250" height="250" src="../../../assets/preload.svg" alt="" />
  </div>
</div>
<div class="home" *ngIf="products.length != 0">
  <div class="home h-[350px] relative">
    <div class="darken absolute w-full h-full bg-black opacity-30"></div>
    <img
      class="w-full h-full object-cover object-top"
      src="../../../assets/home-banner-2.jpg"
      alt=""
    />
  </div>
  <div class="product-list px-10 pt-5">
    <h2 class="text-center text-4xl mb-2 font-bold text-black">
      Yeni Məhsullar
    </h2>
    <div class="shortcut flex justify-center mb-5">
      <img src="../../../assets/shortcut.svg" alt="" />
    </div>
    <product-list [products]="products"></product-list>
  </div>
  <div class="who pt-100">
    <div class="about">
      <div class="about-wrapper">
        <div class="about-img">
          <img class="big-about-img" src="../../../assets/who.png" alt="" />
        </div>
        <div class="about-item">
          <div class="about-info container-fluid">
            <div class="about-title text-center flex flex-col items-center">
              Biz kimik? <br />
              <img
                class="about-shortcut"
                src="../../../assets/shortcut.svg"
                alt=""
              />
            </div>
            <div class="about-text text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
              illo et dolore sequi, commodi pariatur esse corrupti placeat
              explicabo. Earum inventore facere veritatis quas dignissimos non
              nesciunt laborum dolor quo! Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Vero enim maiores porro iusto dicta dolorem,
              optio, ipsa dignissimos est quam perferendis nihil, numquam
              exercitationem ex id aut blanditiis aliquid laudantium! <br />
              Temporibus, asperiores exercitationem, cumque qui ut iste
              cupiditate debitis dolore ipsam quod nesciunt magnam ad reiciendis
              molestiae nam quas nostrum in aliquid, at tenetur explicabo quam!
              Illo harum ullam quam? Necessitatibus eum nemo illo aliquam,
              <br />
              explicabo, a assumenda, molestias consequatur dicta laudantium
              consequuntur mollitia itaque architecto in aperiam! exercitationem
              ex id aut blanditiis aliquid laudantium! <br />
              <div class="flex justify-center mb-3">
                <img
                  class="about-shortcut"
                  src="../../../assets/shortcut.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="flex flex-wrap justify-evenly mt-9 items-center">
            <div class="about-logo-item">
              <img src="../../../assets/organik.svg" alt="" />
              <div class="about-logo-item-title">Organik</div>
            </div>
            <div class="about-logo-item">
              <img src="../../../assets/memnuniyyet.svg" alt="" />
              <div class="about-logo-item-title">Məmnuniyyət</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-list px-10 pt-5">
      <h2 class="text-center text-4xl mb-2 font-bold text-black">
        Organik Məhsullar
      </h2>
      <div class="shortcut flex justify-center mb-5">
        <img src="../../../assets/shortcut.svg" alt="" />
      </div>
      <product-list [products]="organicProducts"></product-list>
    </div>
  </div>
</div>