<div class="shop">
    <div class="container mb-5">
        <div class="contact flex pt-[2rem] mb-10 items-center flex-col">
            <h2 class="text-4xl font-bold">Məhsullar</h2>
            <img src="../../../assets/shortcut.svg" alt="">
        </div>
        <div class="grid grid-cols-12 mx-8">
        <category-list (category)="getCategory($event)" class="lg:col-span-3 col-span-12 md:col-span-12"></category-list>
            <div class="lg:col-span-9 col-span-12 md:col-span-12 p-2">
                <product-list [products]="products"></product-list>
            </div>
        </div>
    </div>
</div>
