<div class="ml-3 w-[90%]">
    <h5>
        {{editing ? "Edit" : "Create"}} Product
    </h5>
    
    <form #form="ngForm" (ngSubmit)="save(form)">
        <div>
            <label>
                <span>Name</span>
                <input type="text" class="rounded-lg w-full border border-black px-2 py-1" name="name" [(ngModel)]="product.name">
            </label>
        </div>
        <div>
            <label>
                <span>Price</span>
                <input type="text" class="rounded-lg w-full border border-black px-2 py-1" name="price" [(ngModel)]="product.price">
            </label>
        </div>
        <div>
            <label>
                <span>Image</span>
                <input type="text" class="rounded-lg w-full border border-black px-2 py-1" name="imageUrl" [(ngModel)]="product.imageUrl">
            </label>
        </div>
        <div>
            <label>
                <span>Description</span>
                <textarea class="rounded-lg w-full border border-black px-2 py-1" name="description" [(ngModel)]="product.description"></textarea>
            </label>
        </div>
        <button class="bg-green-800 rounded-lg py-1 px-2 text-white mr-2" type="submit">{{editing ? "Edit" : "Create"}} Product</button>
        <button class="bg-red-600 text-white rounded-lg py-1 px-2" routerLink="/admin/main/products">Cancel</button>
    </form>
</div>