<navbar></navbar>
<!-- <div *ngIf="submitted" class="preloader flex pt-100 items-center justify-center h-[100vh] flex-col">
    <div class="preloader-content relative flex items-center justify-center w-[260px] h-[260px]">
        <p class="absolute text-[#FFBF00] text-3xl top-[117px]">AGRID</p>
        <img width="250" height="250" src="../../../assets/preload.svg" alt="">
    </div>
</div> -->
<div *ngIf="orderSent" class="pt-100 mx-2 text-center">
    <h2 class="font-bold text-4xl mb-2 text-gray-800">Thanks for shopping</h2>
    <p class="text-lg mb-3">Your order is being prepared</p>
    <button routerLink="/shop" class="bg-green-600 text-white px-2 py-1 rounded-lg">Continue to shopping</button>
</div>
<div *ngIf="!orderSent && !submitted" class="flex pt-[260px] justify-center items-center h-[100vh] ">
    <div class="container flex justify-center items-center px-2 py-4 shadow-2xl w-[600px] mb-5">
        <div class="row w-full px-2">
            <form #form="ngForm" class="flex flex-col gap-3 justify-center" (ngSubmit)="submitOrder(form)">
                <div class="flex flex-col">
                    <label class="text-[#222]">Name</label>
                    <input class="form-control border rounded py-1 px-2 border-[#ccc] shadow-md" type="text" name="name" #name="ngModel" [(ngModel)]="order.name" required>
                    <span class="bg-red-500 text-white py-1 rounded px-2" *ngIf="submitted && name.invalid">
                        Please write your name
                    </span>
                </div>
                <div class="flex flex-col">
                    <label class="text-[#222]">Address</label>
                    <input class="form-control border rounded py-1 px-2 border-[#ccc] shadow-md" type="text" name="address" #address="ngModel" [(ngModel)]="order.address" required>
                    <span class="bg-red-500 text-white py-1 rounded px-2" *ngIf="submitted && address.invalid">
                        Please write your address
                    </span>
                </div>
                <div class="flex flex-col"> 
                    <label class="text-[#222]">City</label>
                    <input class="form-control border rounded py-1 px-2 border-[#ccc] shadow-md" type="text" name="city" #city="ngModel" [(ngModel)]="order.city" required>
                    <span class="bg-red-500 text-white py-1 rounded px-2" *ngIf="submitted && city.invalid">
                        Please write your city
                    </span>
                </div>
                <div class="flex flex-col">
                    <label class="text-[#222]">Phone</label>
                    <input class="form-control border rounded py-1 px-2 border-[#ccc] shadow-md" type="text" name="phone" #phone="ngModel" [(ngModel)]="order.phone" required>
                    <span class="bg-red-500 text-white py-1 rounded px-2" *ngIf="submitted && phone.invalid">
                        Please write your phone number
                    </span>
                </div>
                <div class="flex flex-col">
                    <label class="text-[#222]">Email</label>
                    <input class="form-control border rounded py-1 px-2 border-[#ccc] shadow-md" type="text" name="email" #email="ngModel" [(ngModel)]="order.mail" required>
                    <span class="bg-red-500 text-white py-1 rounded px-2" *ngIf="submitted && email.invalid">
                        Please write your email
                    </span>
                </div>
                <div class="flex sm:flex-row flex-col gap-3">
                    <div class="flex flex-1 flex-col">
                        <label class="text-[#222]">Card Number</label>
                        <input [textMask]="{mask: maskNumber}" class="form-control border rounded py-1 px-2 border-[#ccc] shadow-md" type="text" name="cardNumber" #cardNumber="ngModel" [(ngModel)]="order.cardNumber" required>
                        <span class="bg-red-500 text-white py-1 rounded px-2" *ngIf="submitted && cardNumber.invalid">
                            Please write card number
                        </span>
                    </div>
                    <div class="flex flex-0 flex-col">
                        <label class="text-[#222]">Expiration Date</label>
                        <input [textMask]="{mask: maskDate}" class="form-control border rounded py-1 px-2 border-[#ccc] shadow-md" type="text" name="cardDate" #cardDate="ngModel" [(ngModel)]="order.cardDate" required>
                        <span class="bg-red-500 text-white py-1 rounded px-2" *ngIf="submitted && cardDate.invalid">
                            Please write card date
                        </span>
                    </div>
                </div>
                <div class="flex flex-col">
                    <label class="text-[#222]">CCV</label>
                    <input [textMask]="{mask: maskCCV}" class="form-control w-[60px] border rounded py-1 px-2 border-[#ccc] shadow-md" type="text" name="ccv" #ccv="ngModel" [(ngModel)]="order.ccv" required>
                    <span class="bg-red-500 text-white py-1 rounded px-2" *ngIf="submitted && ccv.invalid">
                        Please write CCV
                    </span>
                </div>
                <div class="flex gap-2">
                    <input id="terms" class="py-1" type="checkbox" name="terms" #terms="ngModel" [(ngModel)]="order.terms" required>
                    <label class="text-sm" for="terms">Istifadəçi şərtlərini oxudum və razıyam</label>
                </div>

                <button type="submit" [disabled]="!form.valid" class="bg-blue-500 disabled:opacity-50 rounded text-white px-2 py-1">{{total | currency: '₼'}} Complete order</button>
                <!-- <button type="submit" routerLink="/shop" class="bg-green-500 rounded text-white ml-2 px-2 py-1">Continue to shopping</button> -->
            </form>
        </div>
    </div>
</div>