<div class="bg-blue-600 w-full py-2 px-2 text-white">Admin Placeholder</div>

<div class="grid mt-3 grid-cols-12">
    <div class="col-span-3 mt-3">
        <button routerLink="/shop" class="w-full border border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white mb-2 ml-2 px-2 py-1 rounded-lg">Back Shop</button>
        <button routerLinkActive="active" routerLink="/admin/main/products" class="w-full border border-orange-600 text-orange-600 hover:bg-orange-600 hover:text-white mb-2 ml-2 px-2 py-1 rounded-lg">Products</button>
        <button routerLinkActive="active" routerLink="/admin/main/categories" class="w-full border border-yellow-600 text-yellow-600 hover:bg-yellow-600 hover:text-white mb-2 ml-2 px-2 py-1 rounded-lg">Categories</button>
        <button routerLinkActive="active" routerLink="/admin/main/orders" class="w-full border border-green-600 text-green-600 hover:bg-green-600 hover:text-white mb-2 ml-2 px-2 py-1 rounded-lg">Orders</button>
        <button (click)="logout()" class="ml-2 w-full bg-red-600 text-white px-2 py-1 rounded-lg">Logout</button>
    </div>
    <div class="ml-2 col-span-9">
        <router-outlet></router-outlet>
    </div>
</div>