<table class="w-full">
    <thead class="bg-slate-700 text-gray-200 font-sans py-3 px-3">
        <tr class="text-center">
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Phone</th>
            <th>Mail</th>
            <th>Product</th>
        </tr>
    </thead>
    <tbody>
        <tr class="border text-center py-2 hover:bg-slate-700 hover:text-white border-slate-700 px-3 py-2" *ngFor="let product of getOrdersList()">
            <td class="border border-r-black">{{product.name}}</td>
            <td class="border border-r-black">{{product.address}}</td>
            <td class="border border-r-black">{{product.city}}</td>
            <td class="border border-r-black">{{product.phone}}</td>
            <td class="border border-r-black">{{product.mail}}</td>
            <td class="flex">
                <ul class="border border-r-black p-1" *ngFor="let item of product.cart.items">
                    <li>Name: {{item.product.name}}</li>
                    <li>Price: {{item.product.price}}</li>
                    <li>description: {{item.product.description}}</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>