<div class="row">
    <div class="grid grid-cols-12 gap-x-4">
    <div *ngFor="let p of products" class="lg:col-span-4 md:col-span-6 col-span-12 ">
        <a [routerLink]="'/item/' + p.id" class="card hover:scale-[1.03] flex justify-center items-center flex-col shadow-xl rounded-lg relative bg-white pb-3 mb-5 cursor-pointer" >
            <img class="rounded-xl w-[60%] h-52 object-contain py-1" src="{{p.imageUrl}}" alt="{{p.name}}">
            <div class="card-body px-3">
                <h4 class="card-title text-center pt-3">
                    <a class="text-xl font-semibold">{{p.name}}</a>
                </h4>   
                <p class="text-center text-xl">
                    {{p.price | currency: '₼'}}
                </p>
            </div>
    </a>
</div>
</div>