<div class="bg-blue-700 fixed w-full px-6 py-3">
    <div class="container flex items-center justify-between">
        <div class="navbar-logo text-lg font-semibold text-white"><a routerLink="/products">Shop App</a></div>
        <ul class="flex gap-3 text-white font-semibold">
            <li class="opacity-70 hover:opacity-100 ">
                <a routerLink="/products">Home</a>
            </li>
            <li class="opacity-70 hover:opacity-100 ">
                <button routerLink="/products">Products</button>
            </li>
            <li class="opacity-70 hover:opacity-100 ">
                <button routerLink="/cart">Cart</button>
            </li>
            <li class="opacity-70 hover:opacity-100 ">
                <button routerLink="/checkout">Orders</button>
            </li>
            <li class="opacity-70 hover:opacity-100 ">
                <button routerLink="/admin/main">Admin</button>
            </li>
        </ul>
        <ul class="flex gap-3 text-white">
            <li class="opacity-70 hover:opacity-100 ">
                <a href="">Login</a>
            </li>
            <li class="opacity-70 hover:opacity-100 ">
                <a href="">Register</a>
            </li>
            <li class="opacity-70 hover:opacity-100 ">
                <a href="">Logout</a>
            </li>
        </ul>
    </div>    
</div>