<footer>
    <div class="footer container-fluid pb-10">
        <div class="footer-item">
            <div class="footer-logo">
                <img src="../../../assets/footer-logo.svg" alt="">
            </div>
        </div>
        <div class="footer-item">
            <div class="footer-item-title">Menyular</div>
            <ul>
                <li><a routerLink=""> Əsas səhifə</a> </li>
                <li><a routerLink="/about"> Biz kimik?</a> </li>
                <li><a routerLink="/shop"> Məhsullarımız</a></li>
                <li><a routerLink="/news"> Xəbərlər</a></li>
                <li><a routerLink="/contact"> Əlaqə</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <div class="footer-item-title">Faydalı linklər</div>
            <ul>
                <li><a routerLink=""> Tez-tez soruşulanlar</a></li>
                <li><a routerLink=""> Karyera</a></li>
                <li><a routerLink=""> Xidmət şəbəkəsi</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <div class="footer-item-title">FAQ</div>
            <ul>
                <li><a routerLink=""> Təhlükəsizlik</a></li>
                <li><a routerLink=""> Şərtlər və qaydalar</a> </li>
            </ul>
        </div>
    </div>
</footer>