/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
.pt-100{
    padding-top: 140px;
}
.h-vh{
    height: 100vh;
}
*{
    font-family: 'Cormorant Garamond', serif;
    transition: 0.1s all;
}
::selection{
    background-color: #FFBF00;
    color: #FFFFFF;
}