<navbar></navbar>

<div class="w-full pt-100 grid grid-cols-12 py-3 pt-100 px-2">
    <div class="col-span-12 md:col-span-8">
        <ng-container class="relative overflow-x-auto" *ngIf="cart.itemCount > 0">
            <table class="w-full overflow-x-scroll text-sm text-left text-gray-500 dark:text-gray-40">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th class="px-6 py-3"></th>
                        <th class="px-6 py-3">Name</th>
                        <th class="px-6 py-3">Price</th>
                        <th class="px-6 py-3">Count</th>
                        <th class="px-6 py-3">Total</th>
                        <th class="px-6 py-3"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let item of cart.items">
                        <td class="p-2">
                            <img class="rounded-lg" src="{{item.product.imageUrl}}" width="80" alt="{{item.product.name}}">
                        </td>
                        <td>
                            {{item.product.name}}
                        </td>
                        <td>
                            ${{item.product.price}} 
                        </td>
                        <td>
                            <input 
                            class="bg-transparent w-20"
                            type="text" 
                            [value]="item.quantity"
                            (change)="cart.updateQuantity(item.product, $event.target)"> 
                        </td>
                        <td>
                            ${{item?.quantity * item?.product?.price }}
                        </td>
                        <td>
                            <button (click)="cart.removeItem(item.product.id)" class="bg-red-600 rounded-lg md:px-3 py-1 text-white px-1 py-1">Delete</button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-container *ngIf="cart.itemCount === 0">
            There is not any product in basket <br>
            <button routerLink="/shop" class="border border-yellow-600 text-yellow-400 hover:bg-yellow-400 hover:text-white py-1 px-2 rounded-lg m-2" >Click for continue shopping</button>
        </ng-container>
    </div>
    <div class="md:col-span-4 col-span-12 px-3 py-6 ">
        <ng-container *ngIf="cart.itemCount>0">
            <div class="text-left ">
                <h4 class="text-lg  font-bold">History of shopping</h4>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>Total</td>
                        <td>${{cart.total}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="flex gap-2 flex-col">
                <button class="bg-blue-400 text-white px-2 py-1 mx-2 rounded-lg" routerLink="/home">To continue shopping</button>
                <button class="bg-green-400 text-white px-2 py-1 mx-2 rounded-lg" routerLink="/checkout">Complete the shopping</button>
            </div>
        </ng-container>
    </div>
</div>