<navbar></navbar>

<div class="total">
    <div class="image">
        <img class="w-full max-w-full max-h-[600px] h-full object-cover object-center" src="../../../assets/about-banner-1.jpg" alt="">
    </div>
    <div class="contact flex pt-5 mb-10 items-center flex-col">
        <h2 class="text-4xl font-bold">Əlaqə</h2>
        <img src="../../../assets/shortcut.svg" alt="">
</div>
    <div class="full flex-wrap flex flex-row justify-around py-20">
        <div class="item">
            <div class="photo">
               <img src="../../../assets/location.svg" alt="">
            </div>
            <div class="info">
                <h2>Meladora LLC</h2>
                <h2><b>Head Office</b>: Baku office</h2>
                <h2><b>Zip code</b>: AZ1005</h2>
            </div>
            
        </div>
        <div class="item">
            <div class="photo">
                <img src="../../../assets/phone.svg" alt="">
            </div>
            <div class="info">
                <a href="tel:+9945055555555">050 555 55 55</a>
            </div>
        </div>
        <div class="item">
            <div class="photo">
                <img src="../../../assets/producer.svg" alt="">
            </div>
            <div class="info">
                <h2>Meladora LLC</h2>
                <h2><b>Production</b>: Ismayıllı Ray. Kalinge village</h2>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
