<navbar></navbar>

<div class="total">
    <div class="image">
        <img src="../../../assets/about-banner-1.jpg" alt="">
    </div>
    <div class="green">
        <img src="../../../assets/greens.svg" alt="">
    </div>
    <div class="contact my-20 py-20">
        <div class="flex">
            <img src="../../../assets/logo1.svg" alt="">
            <p>
                Contact
            </p>
        </div>
    </div>
    <div class="full flex-wrap flex flex-row justify-around py-20">
        <div class="item">
            <div class="photo">
               <img src="../../../assets/location.svg" alt="">
            </div>
            <div class="info">
                <h2>Meladora LLC</h2>
                <h2>Head Office: Baku office</h2>
                <h2>Zip code: AZ1005</h2>
            </div>
            
        </div>
        <div class="item">
            <div class="photo">
                <img src="../../../assets/phone.svg" alt="">
            </div>
            <div class="info">
                <a href="tel:05055555555">0505 555 55 55</a>
            </div>
        </div>
        <div class="item">
            <div class="photo">
                <img src="../../../assets/producer.svg" alt="">
            </div>
            <div class="info">
                <h2>Meladora LLC</h2>
                <h2>Production: Ismayıllı Ray. Kalinge village</h2>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
