.item{
    height: 325px;
    max-width: 375px;
    width: 100%;
    background-color: rgb(238, 237, 237);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;    
}
.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 3px 6px 12px rgb(153, 146, 146);
    border-radius: 100%;
    padding: 30px;
    position: absolute;
    top: -70px;
}
.photo img{
    width: 50px;
}
.photo img:hover{
    animation: 0.5s tilt-shaking;
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(35deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-35deg); }
    100% { transform: rotate(0deg); }
  }
.info{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    font-size: 17px;
    padding-left: 10px;
}
@media (max-width: 1200px){
    .green img{
        width: 200px;
    }
    .green{
        bottom: 0px;
    }
    .photo{
        padding: 20px;
    }
    .photo img{
        width: 60px;
    }
    .item{
        height: 300px;
        width: 400px;
        margin: 20px;
    }
    
}
@media (max-width: 768px){
   .full{
        height: 1300px;
    }
}